apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../../base

namePrefix: prod-

commonLabels:
  environment: prod

replicas:
  - name: streamlit
    count: 2

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: streamlit
      spec:
        template:
          spec:
            containers:
            - name: streamlit
              env:
              - name: ENVIRONMENT
                value: "production"
              resources:
                requests:
                  memory: "256Mi"
                  cpu: "200m"
                limits:
                  memory: "512Mi"
                  cpu: "1000m"
  - patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: streamlit
      spec:
        type: LoadBalancer
