apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

replicas:
  - name: guestbook-ui
    count: 1

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: guestbook-ui
      spec:
        template:
          spec:
            containers:
            - name: guestbook-ui
              resources:
                requests:
                  memory: "32Mi"
                  cpu: "50m"
                limits:
                  memory: "64Mi"
                  cpu: "100m"

configMapGenerator:
  - name: guestbook-config
    literals:
      - ENV=development
      - LOG_LEVEL=debug
